<h1>Bug Tracker</h1>
<hr>
<section class="stats">
  <span class="closed">1</span>
  <span> / </span>
  <span>2</span>
</section>
<section class="edit">
  <label for="">Bug Name :</label>
  <input type="text" name="" id="">
  <button>Add New</button>
</section>
<section class="list">
  <ul>
    <li>
      <span class="bugName">Bug - 1</span>
      <div class="datetime">[Created At]</div>
      <button>Remove</button>
    </li>
    <li>
      <span class="bugName closed">Bug - 2</span>
      <div class="datetime">[Created At]</div>
      <button>Remove</button>
    </li>
  </ul>
  <button>Remove Closed</button>
</section>