<h1>{{appName}}</h1>
<hr>
<!-- <div>
  <label for="">Current Time :</label>
  <span>{{currentTime}}</span>
</div>
<section>
  <label for="">Search :</label>
  <input type="text" #txtSearch>
  <button #btnSearch>Search</button>
</section>

<div *ngIf="bugs$ | async as bugs">

  <app-bug-stats [data]="bugs"></app-bug-stats>
  <section class="edit">
    <label for="">Bug Name :</label>
    <input type="text" #txtNewBugName (input)="newBugName = txtNewBugName.value">
    <span> [{{newBugName.length}}] </span>
    <button (click)="onBtnAddNewClick()">
      Add New
    </button>
  </section>
  
  <section class="list">
    <ul>
      <li *ngFor="let bug of bugs">
        <span class="bugName" (click)="onBugNameClick(bug)"
          [ngClass]="{closed : bug.isClosed}"
        >{{bug.name}}</span>
        <div class="datetime">{{bug.createdAt | elapsed}}</div>
        <button (click)="onBtnRemoveClick(bug)">Remove</button>
      </li>
    </ul>
    <button (click)="onBtnRemoveClosedClick()">Remove Closed</button>
  </section>
</div> -->
<app-worker></app-worker>